body { 
    font-family: helvetica;
    font-size: 15px;
    font-weight: bold; 
    background-color: blue
}
a {color: yellow;
text-decoration: none}
.short-desc {
    display: inline
}
#to-do {font-family: sans-serif;
font-size: 30px;
border-top: 4px solid black;
border-bottom: 4px solid black;
    
}